.main-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.text-content {
  font-size: 20px;
  font-weight: 800;
  width: 300px;
}

.input-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.sentence-input {
  font-weight: 800;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.393);
}

.sentence-box {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}