.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
}

.main-content {
  display: flex;
  justify-content: center;
}

.text-content {
  font-size: 20px;
  font-weight: 800;
  width: 300px;
}

.input-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.calculator-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sentence-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 800;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.393);
}

.sentence-box {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.article-main-box {
  border: 1px solid rgba(116, 112, 112, 0.376);
  padding: 20px;
  border-radius: 20px;
  width: 30vw;
}


.art-title {
  text-align: center;
}

.sentence-clipboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.prisoner-info {
  margin-right: 20px;
}

.prisoner-content {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}

